<!-- admin-board.component.html -->
<div class="admin-board-container">
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <ul>
            <li><a routerLink="/adminrecruiters" routerLinkActive="active">Recruiters</a></li>
            <li><a routerLink="/adminjs" routerLinkActive="active">Job Seekers</a></li>
            <li><a routerLink="/adminjp" routerLinkActive="active">View Job Postings</a></li>
            <li><a routerLink="/adminjobposting" routerLinkActive="active">Add Job Postings</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>Welcome, {{Username}}</h1>
            <button class="logout-button" (click)="confirmLogout()">Logout</button>
        </div>
        <router-outlet></router-outlet> <!-- Content will be loaded here -->
    </div>
</div>
