<!-- admin-board.component.html -->
<div class="admin-board-container">
  <div class="sidebar">
      <h2>Recruiter Dashboard</h2>
      <ul>
        <li><a routerLink="/addjobs" routerLinkActive="active">Add Job</a></li>
        <li><a routerLink="/jobapplication" routerLinkActive="active">Job Applications</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">profile</a></li>
      </ul>
  </div>

  <div class="main-content">
      <div class="header">
          <h1>Welcome</h1>
          <button class="logout-button" (click)="confirmLogout()">Logout</button>
      </div>

      <h1>"Manage Your Active Job Postings"</h1>
<div class="job-card" *ngFor="let job of jobpostings">
  <div class="card-container">
    <div class="card-header">
      <h3>{{ job.job_title }}</h3>
      <button (click)="deleteJobPosting(job)" class="btn-delete">Delete</button>
    </div>
    <div class="card-body">
      <div class="card-row">
        <p><strong>Location:</strong> {{ job.job_location }}</p>
        <p><strong>Job Type:</strong> {{ job.job_type }}</p>
      </div>
      <div class="card-row">
        <p><strong>Contact Person:</strong> {{ job.contact_person }}</p>
        <p><strong>Contact Number:</strong> {{ job.contact_number }}</p>
      </div>
      <div class="card-row">
        <p><strong>Technical Skills:</strong> {{ job.technical_skills }}</p>
        <p><strong>Functional Skills:</strong> {{ job.functional_skills }}</p>
      </div>
      <div class="card-row">
        <p><strong>Job Description:</strong> {{ job.job_description }}</p>
      </div>
      <div class="card-row">
        <p><strong>Salary:</strong> {{ job.salary }}</p>
      </div>
    </div>
  </div>
</div>

      <router-outlet></router-outlet> <!-- Content will be loaded here -->
  </div>
</div>

